.btn {
  align-items: center;
  background: $buttonBg;
  color: $buttonColour;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include mq(tablet) {
    font-size: 1.4rem;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @include mq(desktop) {
    font-size: 1.6rem;
    padding: 15px 25px;
  }

  &:hover {
    background: $buttonBgHover;
  }

  &.-sml {
    padding: 0;
    font-size: 1.4rem;
    padding: 10px 15px;
  }

}

.btn__icon {
  display: block;
  margin-left: 12px;
  position: relative;
  @include mq(desktop) {
    margin-left: 15px;
  }

  &:before,
  &:after {
    background: $white;
    content: '';
    display: block;
    position: relative;
  }

}

.btn__icon.-plus {
  height: 10px;
  @include mq(desktop) {
    height: 13px;
    top: -1px;
  }

  &:before,
  &:after {      
    height: 100%;      
    width: 2px;
  }

  &:before {
    left: 0;
  }

  &:after {
    left: 0;
    top: -10px;
    transform: rotate(90deg);
    @include mq(desktop) {
      top: -13px;
    }
  }
  
}

.btn__icon.-play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #fff;  
}

.-moreArticles {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 20px 0 30px;
  @include mq(tablet) {
    height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  @include mq(desktop) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.btn.-ghost,
.btn.-ghostAlt {
  background: none;
  padding: 0;
}

.btn.-ghost {  
  color: $ghostButtonColour;  
}

.btn.-ghost:hover {
  color: $ghostButtonColourHover;
}

.btn.-ghost .btn__icon:before,
.btn.-ghost .btn__icon:after {
  background: $ghostButtonColour;
}

.btn.-ghost:hover .btn__icon:before,
.btn.-ghost:hover .btn__icon:after {
  background: $ghostButtonColourHover;
}

.btn.-ghostAlt {
  color: $ghostButtonAltColour;
}

.btn.-ghostAlt:hover {
  color: $ghostButtonAltColourHover;
}

.btn.-ghostAlt .btn__icon:before,
.btn.-ghostAlt .btn__icon:after {
  background: $ghostButtonAltColour;
}

.btn.-ghostAlt:hover .btn__icon:before,
.btn.-ghostAlt:hover .btn__icon:after {
  background: $ghostButtonAltColourHover;
}