.btn {
  align-items: center;
  background: $buttonBg;
  color: $buttonColour;
  display: inline-flex;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  padding: 10px 22px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include mq(tablet) {
    font-size: 1.4rem;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @include mq(desktop) {
    font-size: 1.6rem;
    padding: 15px 25px;
  }

  &:hover {
    background: $buttonBgHover;
  }
}

.btn__icon {
  display: block;
  margin-left: 12px;
  position: relative;
  @include mq(desktop) {
    margin-left: 15px;
  }
}

.btn__icon {

  &.--plus {
    height: 10px;
    @include mq(desktop) {
      height: 13px;
    }

    &:before,
    &:after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: relative;
      width: 2px;
    }

    &:before {
      left: 0;
    }

    &:after {
      left: 0;
      top: -10px;
      transform: rotate(90deg);
      @include mq(desktop) {
        top: -13px;
      }
    }
    
  }

}