.cardsWrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto (-$cardPadding);
  padding: 0 $containerPaddingMobile;
  max-width: $containerMaxWidth;
  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 $cardPadding;
  }
  @include mq(desktop) {
    padding: 0 ($containerPaddingDesktop - $cardPadding);
  }

}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: ($cardPadding * 2);
  width: 100%;  
  @include mq(tablet) {
    padding: 0 $cardPadding;
    width: 50%;
    width: 33.333333%;
  }
  @include mq(desktop) {
    padding: 0 $cardPadding;
    width: 33.333333%;
  }

  &__thumbnail {
    display: block;
    height: auto;
    width: 100%;
  }

  &__inner {
    background: $white;
    // border-top: 3px solid $cardBorderColour;
    flex: 1 1 auto;
    padding: 20px;
    @include mq(desktop) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__title {
    color: $cardTitleColour;
    font-size: 2.4rem;
    line-height: 1.2;
    @include mq(tablet-lg) {
      font-size: 2.2rem;
    }
    @include mq(desktop) {
      font-size: 2.4rem;
    }
  }

  &__title a {
    color: $linkColour;
    text-decoration: none;
  }

  &__title a:hover {
    color: $linkHoverColour;
    text-decoration: underline;
  }

  &__title small {
    color: $bodyColour;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 5px;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    @include mq(desktop) {
      font-size: 1.6rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    font-size: 1.4rem;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    @include mq(desktop) {
      font-size: 1.5rem;
    }
  }

  ul li:before {
    background: $brandRed;
    height: 2px;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 8px;
    width: 8px;
  }

  ul li:last-child {
    margin-bottom: 0;
  }

  &__email {
    &--short {
      @include mq(tablet) {
        display: none;
      }
    }
    &--full {
      display: none;
      @include mq(tablet) {
        display: block;
        white-space: nowrap;
        line-height: 2;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
  }

  &__footer {
    align-items: center;
    background: $cardFooterBg;
    color: $cardFooterColour;
    font-size: 1.5rem;
    padding: 15px 20px;
    max-width: 100%;
    @include mq(tablet) {
      font-size: 1.4rem;      
    }
    @include mq(tablet-lg) {
      font-size: 1.5rem;
    }
    @include mq(desktop) {
      font-size: 1.6rem;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    
    a {
      align-items: center;
      color: $cardFooterLinkColour;
      display: flex;
    }

    a:hover {
      color: $cardFooterLinkHoverColour;
      text-decoration: underline;
    }

    svg {
      fill: $cardFooterIconColour;
      height: 20px;
      margin-right: 12px;
      min-width: 20px;
      width: 20px;
    }
    
  }

}

.cardReveal {  
  display: block;
  padding-top: 10px;

  &__content {
    background: $cardRevealBg;
    border-bottom: 2px solid $cardFooterBorderColour;
    display: none;
    margin: 0 -20px -20px;
    padding: 20px;
    position: relative;
    @include mq(desktop) {
      margin-bottom: -25px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__close {
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    @include mq(desktop) {
      top: 25px;
    }

    &:hover:before,
    &:hover:after {
      background-color: $brandRed;
    }

    &:before,
    &:after {
      background-color: $black;
      content: ' ';
      height: 100%;
      left: 50%;      
      position: absolute;
      width: 3px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

  }

  &.-isVisible .cardReveal__content {
    display: block;
  }

  &.-isVisible .btn {
    display: none;
  }

}