.contentPanel {
  display: flex;
  flex-direction: column-reverse;
  @media only screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
  @include mq(tablet) {
    align-items: flex-start;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  
  &__text {
    padding: 30px 20px 0;
    @include mq(tablet) {
      padding: 20px 20px 0 0;
    }
    @include mq(tablet-lg) {
      padding-right: 40px;
    }
    @include mq(desktop) {
      padding: 30px 50px 0 0;
    }
  }

  &__img {
    flex: 1 0 auto;
    @include mq(tablet) {
      display: block;
      width: 350px;
    }
    @include mq(tablet-lg) {
      width: 500px;
    }
    @include mq(desktop) {
      width: 650px;
    }
  }

  &__img img {
    display: block;
    height: auto;
    width: 100%;
  }

  p {
    @include pStyles;
  }

  &__signature {
    margin: 0;
    padding: 0;
  }

  &__signature img {
    display: block;
    height: auto;
    margin-bottom: 10px;
    max-width: 100%;
  }

  &__signature figcaption {
    color: #666666;
    font-size: 1.4rem;
  }

  .btn {
    @include mq(tablet-lg) {
      margin-top: 20px;
    }
  }

}