.masthead {
  background: $brandRed;
  padding: 40px 0;
  @include mq(desktop) {
    margin-bottom: 60px;
  }

  .title,
  &__subTitle {
    color: $white;
    margin: 0;
  }

  &__subTitle {
    margin: 10px 0 0;
  }

  .socialLinks__item a svg {
    fill: $white;
  }

}