.masthead {
  background: $brandRed;
  margin-bottom: 20px;
  padding: 20px 0;
  @include mq(tablet) {
    padding: 40px 0;
  }
  @include mq(desktop) {
    margin-bottom: 60px;
  }

  .title {
    @include mq(tablet) {
      font-size: 3.6rem;
    }
  }

  .title,
  .subTitle {
    color: $white;
    margin: 0;
  }

  .socialLinks__item a svg {
    fill: $white;
  }

}

.hero {
  background-color: $heroBg;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 0 auto;
  max-width: 1920px;
  @include mq(tablet) {
    height: 300px;
  }
  @include mq(tablet-lg) {
    height: 350px;
  }
  @include mq(desktop) {
    height: 400px;
  }
  @include mq(desktop-lg) {
    height: 500px;
  }

}