.mainNav {
  background: $mobileNavBg;
  position: fixed;
  height: 100%;
  top: $mobileHeaderHeight;
  right: -250px;
  transition: all .3s ease-in-out;
  width: 250px;
  @include mq(tablet) {
    right: -300px;
    width: 300px;
  }
  @include mq(tablet-lg) {
    background: none;
    height: auto;
    position: relative;
    top: auto;
    right: auto;
    width: auto;
  }
}

/* Nav Open */
@media only screen and (max-width: 991px) {
  body.mobile-nav-open  .mainNav { right: 0 }
}


.mainNav .menu {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  @include mq(mobile-lg) {
    padding-top: 15px;
  }
  @include mq(tablet) {
    padding-top: 20px;
  }
  @include mq(tablet-lg) {
    padding-top: 0;
  }
}

.mainNav .menu-item {
  font-size: 1.4rem;
  @include mq(tablet-lg) {
    display: inline-block;    
    margin-right: 18px;
  }
  @include mq(tablet) {
    font-size: 1.5rem;
  }
  @include mq(tablet-lg) {
    font-size: 1.4rem;
  }
  @include mq(desktop) {
    font-size: 1.5rem;
    margin-right: 25px;
  }

  &:last-child {
    @include mq(tablet-lg) {
      margin-right: 0;
    }
  }

  > a {
    color: $white;
    display: block;
    padding: 12px 0 12px 20px;
    text-decoration: none;
    @include mq(tablet) {
      padding: 20px 0 20px 30px;
    }
    @include mq(tablet-lg) {
      color: $desktopNavLinkColour;
      padding: 0;
    }
  }
  
  > a:hover {
    @include mq(tablet-lg) {
      color: $mainNavHover;
    }
  }

  &.current-menu-item > a {
    font-weight: 600;
    @include mq(tablet-lg) {
      color: $mainNavHover;
    }
  }

}