// Colours
$white: #fff;
$black: #000;
$brandRed: #A80034;
$brandRedDark: #940338;
$lightGrey: #f7f7f7;
$bogyBg: $brandRed;
$headerBg: $white;
$mobileNavBg: $brandRed;
$contentBg: $lightGrey;
$footerBg: $brandRed;


// Container
$containerPaddingMobile: 20px;
$containerPaddingDesktop: 45px;
$containerMaxWidth: 1200px;

// Typography
$bodyFont: 'Poppins', sans-serif;
$titleColour: $brandRed;
$bodyColour: #707070;
$linkColour: $brandRed;
$linkHoverColour: $black;

// Header
$mobileHeaderHeight: 70px;
$desktopHeaderHeight: 100px;

// Nav
$mainNavHover: $brandRed;
$desktopNavLinkColour: $bodyColour;

// Buttons
$buttonBg: $brandRed;
$buttonBgHover: $brandRedDark;
$buttonColour: $white;
$ghostButtonColour: $brandRed;
$ghostButtonColourHover: $black;
$ghostButtonAltColour: $white;
$ghostButtonAltColourHover: $black;

// Social Icons
$socialIconLink: $brandRed;
$socialIconLinkHover: $black;

// Feature News Post
$featureNewsPostBg: $brandRed;

// Cards
$cardPadding: 10px;
$cardFooterBg: $brandRed;
$cardTitleColour: $brandRed;
$cardBorderColour: $brandRed;
$cardFooterColour: $white;

// Pagination
$paginationBg: $white;
$paginationColour: $bodyColour;
$paginationHoverBg: $brandRed;
$paginationHoverColour: $white;